@import 'variables';

@media(max-width: 768px) {
    .about {
        width: 98% !important;
        margin-top: 1.7rem !important;
    }
}

.about {
    width: 80%;
    margin: 3rem auto;
    margin-bottom: 8rem;
    
    &_collapse {
        margin-bottom: 1.2rem;
    }
}