@import 'variables';

.collapse {
    margin-bottom: 1.2rem;
    
    &_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $primary-color;
        color: white;
        border-radius: 0.3rem;
        margin-bottom: 0;
        cursor: pointer;

        &_title {
            padding: 0.4rem 0.5rem;
            margin: 0;
            font-size: 18px;
        }

        &_icon {
            padding: 0.4rem 0.5rem;
            font-size: 20px;
        }
    }

    &_content {
        padding: 0.8rem 1rem;
        background: $bg-content;
        margin-top: -1px;
        margin-bottom: 1rem;
        border-radius: 0 0 0.3rem 0.3rem;
        font-size: 16px;
        line-height: 23px;
    }
}