@import 'variables';

@media(max-width: 768px) {
    .about {
        width: 98% !important;
        margin-top: 1.7rem !important;
    }
}

.about {
    width: 80%;
    margin: 3rem auto;
    
    &_collapse {
        margin-bottom: 1.2rem;
        
        &_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: $txt-color;
            color: white;
            border-radius: 0.3rem;
            margin-bottom: 0;

            &_title {
                padding: 0.4rem 0.5rem;
                margin: 0;
                font-size: 22px;
            }

            &_icon {
                padding: 0.4rem 0.5rem;
                font-size: 22px;
            }
        }

        

        &_content {
            padding: 0.8rem 1rem;
            background: $bg-content;
            margin-top: -1px;
            border-radius: 0 0 0.3rem 0.3rem;
        }
    }
}