@import 'variables';
@import 'fonts';

@media(max-width: 768px) {
    .header {
        width: 98%!important;
        &_logo {
            &_img {
                width: 7rem !important;
            }
        }
        &_nav {
            & ul {
                padding-left: 0;
            }
        }
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;

    &_logo {
        &_img {
            width: 10rem;
        }
    }

    &_nav {
        & ul {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        & li {
            padding: 1rem 0rem 1rem 2rem;
            font-size: 19px;
        }
        
        &_link_active {
            font-family: 'Montserrat-Medium';
            text-decoration: underline;
        }
    }
}

