@import 'variables';
@import 'fonts';
@import 'Header';
@import 'BannerHome';
@import 'Home';
@import 'About';
@import 'Error404';
@import 'footer';

html {
    position: relative;
    min-height: 100%;
    max-height: auto;
    margin: auto;
    max-width: 1440px;
    font-size: 18px;
    color: $txt-color;
    font-family: 'Montserrat-Light';
    background: $bg-clr;
}

ul {
    padding: 0;
}

li {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $txt-color;
}