@import 'variables';
@import 'fonts';
@import 'Header';
@import 'Banner';

html {
    margin: auto;
    max-width: 1240px;
    font-size: 18px;
    color: $txt-color;
    font-family: 'Montserrat-Light';
    background: $bg-clr;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $txt-color;
}